<h1><%= current_user.email %></h1>

<br />
<p>
<h4>
You have made <strong><%= @predictions.count %></strong> predictions, of which <strong><%= @usrStats.correct %></strong> where correct. </h4> This implies that the probability of your next prediction being correct is: <br />
<p>
<strong><%= @usrStats.mle.round(3) %></strong> using the mle method <br />
<strong><%= @usrStats.jeffreys.round(3) %></strong> using the Jeffreys method <br />
<strong><%= @usrStats.laplace.round(3) %></strong> using the LaPlace method <br />
</p>

</p>


<h2>my predictions</h2>

<p>
<ul>
<% current_user.predictions.each do |prediction| %>
  <li>
  	It will be good at <strong><%= prediction.location.name %></strong> from
  	<strong><%= prediction.start %> </strong>to
  	<strong><%= prediction.end %> </strong>
  	<% if prediction.isTrue %>
<<<<<<< HEAD
  		 - - - - - - - - <strong>√</strong>
=======
  		√<ul>
  			<li><%= prediction.confirmingReport.location.name %>
  			<%= prediction.confirmingReport.start %>
  			<%= prediction.confirmingReport.end %>
  			<%= (prediction.confirmingReport.user).email %></li>
  		</ul>
>>>>>>> masterJack
  	<% end %>
  </li>
<% end %>
</ul>
</p>

<p>
<h2>my reports</h2>
<ul>
<% current_user.reports.each do |report| %>
  <li>It was good at <strong><%= report.location.name %></strong> from <strong><%= report.start %></strong> to <strong><%= report.end %></strong></li>
<% end %>
</ul>
</p>


