<h1><%= current_user.email %></h1>

<% @usrStats.correct = current_user.correctPredictions %>

<br />
<p>
<h4>
You have made <strong><%= @predictions.count %></strong> predictions, of which <strong><%= @usrStats.correct %></strong> where correct. </h4> This implies that the probability of your next prediction being correct is: <br />
<p>
<strong><%= @usrStats.mle.round(3) %></strong> using the mle method <br />
<strong><%= @usrStats.jeffreys.round(3) %></strong> using the Jeffreys method <br />
<strong><%= @usrStats.laplace.round(3) %></strong> using the LaPlace method <br />
</p>

</p>


<h2>my predictions</h2>

<p>
<ul>
<% i=0 %>
<% j=0 %>
<% current_user.predictions.each do |prediction| %>
  <li>
  	<%= prediction.location.name %> 
  	<%= prediction.start %> 
  	<%= prediction.end %> 

    <% if prediction.check %>
      <strong>√<%= j+=1 %></strong>
      <ul>
          <% prediction.getReleventReports.order(:start).find_each do |s| %>
          <li>
          <%= s.start %> 
          <%= s.end %> 
          <%= s.user.email %> 
         </li>
          <% end %>
      </ul>
    <% end %>

  </li>
<% end %>
</ul>
</p>

<p>
<h2>my reports</h2>
<ul>
<% current_user.reports.each do |report| %>
  <li><%= report.location.name %> <%= report.start %> <%= report.end %></li>
<% end %>
</ul>
</p>


