<p id="notice"><%= notice %></p>

<div class='row'>
<div class='col-s-2 col-md-2 col-lg-2'>
</div>
<div class='col-s-8 col-md-8 col-lg-8'>
<div class='panel panel-default'>
	<h1 class='location-heading'> Your location: <%=@location.name %></h1>
</div>
</div>

<div class='col-s-2 col-md-2 col-lg-2'>
</div>

</div> <!-- row ends -->

<div class="row">

<div class='col-s-3 col-md-3 col-lg-3'>
<div class='panel panel-primary panel-location'>

	<div class='panel-heading'>
	<h2 class='center'> Nearest Airport </h2>
	</div>

	<div class='panel-body'>
	<p><strong> Name: </strong> <%= @station["name"] %> </p>
	<p><strong> Code: </strong> <%= @station["code"] %> </p>
	<p><strong> City: </strong> <%= @station["city"] %> </p>
	<p><strong> State: </strong> <%= @station["state"] %> </p>
	</div>
</div>
</div>

<div class='col-s-3 col-md-3 col-lg-3'>
<div class='panel panel-success panel-location'>

	<div class='panel-heading'>
	<h2 class='center'> Wind Status </h2>
	</div>

	<div class='panel-body'>
	<p><strong> Wind Speed: </strong> <%= @surfaceWind["speed"] %> </p>
	<p><strong> Wind Speed: </strong> <%= @surfaceWind["direction"] %> </p>
	<p><strong> Wind Speed: </strong> <%= @surfaceWind["chill"] %> </p>
	</div>
</div>
</div>

<div class='col-s-3 col-md-3 col-lg-3'>
<div class='panel panel-warning panel-location'>

	<div class='panel-heading'>
	<h2 class='center'> Atmospheric Status </h2>
	</div>

	<div class='panel-body'>
	<p><strong> Pressure: </strong> <%= @surfaceAtmo["pressure"] %> </p>
	<p><strong> Rising: </strong> <%= @surfaceAtmo["rising"] %> </p>
	<p><strong> Humidity: </strong> <%= @surfaceAtmo["humidity"] %> </p>
	<p><strong> Visibility: </strong> <%= @surfaceAtmo["visibility"] %> </p>
	</div>
</div>
</div>



<div class='col-s-3 col-md-3 col-lg-3'>

<div class='panel panel-danger panel-location'>

	<div class='panel-heading'>
	<h2 class='center'> Location Status </h2>
	</div>

	<div class='panel-body'>
	<p><strong> Date: </strong> <%= @surfaceCondition["date"] %> </p>
	<p><strong> Temperature: </strong> <%= @surfaceCondition["temp"] %> </p>
	<p><strong> Weather Status: </strong> <%= @surfaceCondition["text"] %> </p>
	</div>
</div>
</div>

</div> <!-- row ends -->


<div id="charts">
	<p>
		<p>
			<%= line_chart @windData.map { |label, value| 
				{name: label, data: value}
			} %>

			<% @windData.map do |label, value|  %>
				<%= label %> <%= line_chart value, label: label %>
			<% end %>
		</p>

		<p>
			<%= @stationWind %>
			<%= line_chart @windData.map { |label, value| 
				{name: label, data: value}
			} %>

			<% @windData.map do |label, value|  %>
				<%= label %> <%= line_chart value, name: "name" %>
			<% end %>
		</p>
	</p>
	<p>
		<%= line_chart @windData %>
	</p>

	<p>
	<% forcastStart = (params[:forcastDate]? DateTime.parse(params[:forcastDate]) : DateTime.now)  %>
	<strong>Voter's Prediction</strong>
	<%= form_tag(location_path(@location), method: :get) do %>
	<table>
	  <tr><td>I would like the votes starting:</td><td><%= date_field_tag :forcastDate, params[:forcastDate], :value => forcastStart.strftime('%Y-%m-%d')  %></td></tr>
	</table>
	<%= submit_tag "Search" %>
	<% end %>


	<% data = Array.new %>
	<% (0...10).each do |i| %>
		<% data.push([i.to_s+" days from now", @location.getAPWn(forcastStart+i.days)]) %>
	<% end %>

	<%= line_chart data, label: "Flyability" %>
	</p>

</div> <!-- end charts -->

<div> <!-- begin predictions list -->
<% min = @location.predictions.order(:start).first %>
<% max = @location.predictions.order(:start).last %>
<% scaleFactor = 60.0/((max.start.month-min.start.month-1)*33.33+max.start.day+max.start.hour/24.0) %>
<% @location.predictions.order(:start).each do |p| %>
 <span style="
	position: absolute; 
	display:inline-block; 
	left: <%= scaleFactor*((p.start.month-min.start.month-1)*30.333+p.start.day+p.start.hour/24.0) %>%;
	" > 

pnts: <%= @location.getScore(p.start).round(2) %> 
cp: <%= @location.getCondProb(p.start).round(2) %> 
cpn: <%= @location.getCondProbN(p.start).round(2) %> 
cpn2: <%= @location.getCondProbN2(p.start).round(2) %> 
apw: <%= @location.getAvgPredictingWeight(p.start).round(2) %> 
apwn: <%= @location.getAPWn(p.start).round(2) %> 

<%= link_to "#{p.start.hour}:00 to #{p.end.hour}:00 on #{p.start.month} / #{p.start.day} / #{p.start.year} (#{p.user.getWeight.round(2)})", prediction_path(p) %>

</span>
<br />
<% end %>
</div> <!-- end predictions list -->

	<br>
<br>
<div><!-- timeline --><br>
	<%= @predictionTimeline %><br><br>
	<%= timeline @predictionTimeline, height: "600px" %>
</div><!-- end timeline -->


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
<p>
<h4><%= link_to 'I would like to make a prediction', new_prediction_path(location: @location) %></h4>
</p>
