<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>


<p>
<%= form_tag(location_path(@location), method: :get) do %>
<table>
  <tr><td>I would like the forcast starting:</td><td><%= date_field_tag :forcastDate, params[:forcastDate] %></td></tr>
</table>
<%= submit_tag "Search" %>
<% end %>
<% forcastStart = (params[:forcastDate]? DateTime.parse(params[:forcastDate]) : DateTime.now)  %>

<% data = Array.new %>
<% (0...10).each do |i| %>
	<% data.push([i.to_s+" days from now", @location.getAPWn(forcastStart+i.days)]) %>
<% end %>

<%= line_chart data, label: "Flyability" %>
</p>


<% min = @location.predictions.order(:start).first %>
<% max = @location.predictions.order(:start).last %>
<% scaleFactor = 60.0/((max.start.month-min.start.month-1)*33.33+max.start.day+max.start.hour/24.0) %>
<% @location.predictions.order(:start).each do |p| %>
 <span style="
	position: absolute; 
	display:inline-block; 
	left: <%= scaleFactor*((p.start.month-min.start.month-1)*30.333+p.start.day+p.start.hour/24.0) %>%;
	" > 

pnts: <%= @location.getScore(p.start).round(2) %> 
cp: <%= @location.getCondProb(p.start).round(2) %> 
cpn: <%= @location.getCondProbN(p.start).round(2) %> 
cpn2: <%= @location.getCondProbN2(p.start).round(2) %> 
apw: <%= @location.getAvgPredictingWeight(p.start).round(2) %> 
apwn: <%= @location.getAPWn(p.start).round(2) %> 

<%= link_to "#{p.start.hour}:00 to #{p.end.hour}:00 on #{p.start.month} / #{p.start.day} / #{p.start.year} (#{p.user.getWeight.round(2)})", prediction_path(p) %>

</span>
<br />
<% end %>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>

