<p id="notice"><%= notice %></p>

<div class='row'>
<div class='col-s-2 col-md-2 col-lg-2'>
</div>
<div class='col-s-8 col-md-8 col-lg-8'>
<div class='panel panel-default'>
	<h1 class='location-heading'> Your location: <%=@location.name %></h1>
</div>
</div>

<div class='col-s-2 col-md-2 col-lg-2'>
</div>

</div> <!-- row ends -->

<div class="row">

<div class='col-s-3 col-md-3 col-lg-3'>
<div class='panel panel-primary panel-location'>

	<div class='panel-heading'>
	<h2 class='center'> Nearest Airport </h2>
	</div>

	<div class='panel-body'>
	<p><strong> Name: </strong> <%= @station["name"] %> </p>
	<p><strong> Code: </strong> <%= @station["code"] %> </p>
	<p><strong> City: </strong> <%= @station["city"] %> </p>
	<p><strong> State: </strong> <%= @station["state"] %> </p>
	</div>
</div>
</div>

<div class='col-s-3 col-md-3 col-lg-3'>
<div class='panel panel-success panel-location'>

	<div class='panel-heading'>
	<h2 class='center'> Wind Status </h2>
	</div>

	<div class='panel-body'>
	<p><strong> Wind Speed: </strong> <%= @surfaceWind["speed"] %> </p>
	<p><strong> Wind Speed: </strong> <%= @surfaceWind["direction"] %> </p>
	<p><strong> Wind Speed: </strong> <%= @surfaceWind["chill"] %> </p>
	</div>
</div>
</div>

<div class='col-s-3 col-md-3 col-lg-3'>
<div class='panel panel-warning panel-location'>

	<div class='panel-heading'>
	<h2 class='center'> Atmospheric Status </h2>
	</div>

	<div class='panel-body'>
	<p><strong> Pressure: </strong> <%= @surfaceAtmo["pressure"] %> </p>
	<p><strong> Rising: </strong> <%= @surfaceAtmo["rising"] %> </p>
	<p><strong> Humidity: </strong> <%= @surfaceAtmo["humidity"] %> </p>
	<p><strong> Visibility: </strong> <%= @surfaceAtmo["visibility"] %> </p>
	</div>
</div>
</div>



<div class='col-s-3 col-md-3 col-lg-3'>

<div class='panel panel-danger panel-location'>

	<div class='panel-heading'>
	<h2 class='center'> Location Status </h2>
	</div>

	<div class='panel-body'>
	<p><strong> Date: </strong> <%= @surfaceCondition["date"] %> </p>
	<p><strong> Temperature: </strong> <%= @surfaceCondition["temp"] %> </p>
	<p><strong> Weather Status: </strong> <%= @surfaceCondition["text"] %> </p>
	</div>
</div>
</div>

</div> <!-- row ends -->


<div id="charts" class='charts'>
<div class="row">
	<div class='col-s-1 col-md-1 col-lg-1'>
	</div>

	<div class='col-s-9 col-md-9 col-lg-9'>
	<div class='panel panel-default'>
	<div class='panel-heading'>
	<h2> WeatherBet Wind Forecast </h2>
	</div>
	<div class='panel-body'>
	<p>
		<p>
			<%= line_chart @windData.map { |label, value| 
				{name: label, data: value}
			} %>

			<% @windData.map do |label, value|  %>
				<%= label %> <%= line_chart value, label: label %>
			<% end %>
		</p>

	</p>

	

	<p>
	<% forcastStart = (params[:forcastDate]? DateTime.parse(params[:forcastDate]) : DateTime.now)  %>
	</div>
	</div>
	<div class='col-s-1 col-md-1 col-lg-1'>
	</div>
</div> <!-- end panel -->
</div> <!-- end bigger row -->
</div>

	<div class='make_prediction'>
	
	<div class='row'>
	<div class='col-s-3 col-md-3 col-lg-3'>
	</div>
	<div class='col-s-6 col-md-6 col-lg-6'>
	<div class='panel panel-default'>
	<h1 class='center'><%= link_to 'I would like to make a prediction', new_prediction_path(location: @location) %></h1>
	</div>
	</div>
	<div class='col-s-3 col-md-3 col-lg-3'>
	</div>
	</div>
	</div>

	<div class="row">
	<div class='col-s-3 col-md-3 col-lg-3'>
	<br>
	<br>
	<br>
	<h2><strong>Voter's Prediction</strong></h2>
	<%= form_tag(location_path(@location), method: :get) do %>
	<table>
	  <tr><td>I would like to view predictions starting from:</td><td><%= date_field_tag :forcastDate, params[:forcastDate], :value => forcastStart.strftime('%Y-%m-%d')  %></td></tr>
	</table>
	<br>
	<%= submit_tag "Search" %>
	<% end %>
	</div>
	<div class='col-s-9 col-md-9 col-lg-9'>
	<% data = Array.new %>
	<% (0...10).each do |i| %>
		<% data.push([i.to_s+" days from now", @location.getAPWn(forcastStart+i.days)]) %>
	<% end %>

	<%= line_chart data, label: "Flyability" %>
	</div>
	</div> <!-- end row -->
	</p>

</div> <!-- end charts -->



</div> <!-- end predictions list -->

<br>
<br>
<div class='user-voters'>
<h1 class='center'> Users who have voted at this location: </h1>
<div><!-- timeline --><br>
	<!-- <%= @predictionTimeline %><br><br> -->
	<%= timeline @predictionTimeline, height: "600px" %>
</div><!-- end timeline -->
</div>

