<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @prediction.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @prediction.end %>
</p>

<p>
  <strong>Location:</strong>
  <%= @prediction.location.name %>
</p>

<p>
  <strong>Issuing User:</strong>
  <%= @prediction.user.email %>
</p>

<% if @prediction.check %>
<% #if reports.any? %>
	<p><strong>Confirming Reports:</strong>
	<ul>
	<% @prediction.getReleventReports.order(:start).find_each do |s| %>
		<li>
		<%= s.start %> 
		<%= s.end %> 
		<%= s.user.email %> 
		</li>
	<%end %>
	</ul>
	</p>
<% end %>


<%= link_to 'Edit', edit_prediction_path(@prediction) %> |
<%= link_to 'Back', predictions_path %>



