<div class='background'>
<p id="notice"><%= notice %></p>

<div class='row'>
<div class='col-s-8 col-md-8 col-lg-8'>
<div class='panel panel-default'>
<div class='panel-heading'>
<h1 class='center liner'>Nearby Locations</h1>
</div>
<div class='panel-body'>

<% usrLoc = (params[:usrLoc] ? params[:usrLoc] : current_user ? current_user.reports.first.location : "Bear Hill Preserve") %> 
<% usrLoc  = (usrLoc ? usrLoc : "Bear Hill Preserve") %>
<% forcastStart = (params[:forcastDate] ? DateTime.parse(params[:forcastDate]) : DateTime.now)  %>

<% #usrLoc = Location.getCoords(usrLoc) %>
<% unless usrLoc.class == Location.new.class %>
  <% name = usrLoc %>
  <% gp1 = Location.getCoords(usrLoc) %>
  <% usrLoc = Location.new %>
  <% usrLoc.lat = gp1["lat"] %>
  <% usrLoc.lng = gp1["lng"] %>
  <% usrLoc.name = name %>
<% end %>


<p> <!-- begin forcast table -->
<table style="border-collapse: separate; border-spacing: 15px 1px;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Lattitude</th>
      <th>Longitude</th>
      <th>Distance</th>
      <% (0...5).each do |n| %>
        <th style="text-align: center;"><%= "+#{n}" %></th>
      <% end %>
      <th> days </th>
      <!-- <th colspan="5">Flyability Forcast</th> -->
      <!-- <th colspan="1"></th> -->
    </tr>
  </thead>




  <tbody>
    <% @locsByDist = @locations.sort_by { |loc| Location.distance(loc.lat, loc.lng, usrLoc.lat, usrLoc.lng ) } %>
    <% @locsByDist.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.lat.round(2) %></td>
        <td><%= location.lng.round(2) %></td>
        <td><%= Location.distance(location.lat, location.lng, usrLoc.lat, usrLoc.lng ).round(2) %></td>
        <% (0...5).each do |i| %>
          <% score = location.getAPWn(forcastStart+i.days) %>
          
          <td style='padding: 2px; padding-right: 5px; background-color: rgb(<%= (255-255*score).round %>, <%= score<0.5 ? 255 : (255*score).round %>, <%= (255-255*score).round %>);' >
            | <%= '%2.2f' % score %> |
          </td>
        <% end %>
        <td><%= link_to 'Show', location %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</p> <!-- end forcast table -->


</div>
</div> 
</div>
<div class='col-s-4 col-md-4 col-lg-4'>

<div class='panel panel-default'>
<%= form_tag(locations_path, method: :get) do %>
<table>
  <tr><td><strong>I am in:</strong></td><td><%= text_field_tag :usrLoc, params[:usrLoc], :value => usrLoc.name %></td></tr>
  <tr><td><strong>I would like the forcast starting:</strong></td><td> <%= date_field_tag :forcastDate, params[:forcastDate], :value => forcastStart.strftime('%Y-%m-%d') %></td></tr>
</table>
<br>
<%= submit_tag "Search" %>
<br>

<% end %>
</div>

<div class='panel panel-default'>
  <br>
  <p>
  You are currently in <%= "#{usrLoc.name}. Your coordinates are lattitude #{usrLoc.lat} and longitude #{usrLoc.lng}. Here is the prediction based for the next five days starting on #{forcastStart.strftime('%B, %d %Y')}" %> <br>
  <div class='centerstuff'>
  <%= content_tag :iframe, "NO FRAMES", src: Location.getMapURI(usrLoc.lat, usrLoc.lng, 15), id: "mapFrame" %>
  </div>
  </p>
</div>
</div> <!-- end form column-->

</div> <!--end row -->

 </div>